.accueilZone
{
  background-color:rgba(94,102,128,1); /*#37729F*/
  padding:10px;
  margin-bottom:10px;
  color:white;
  border:1px solid black;
}
.textContent
{
	float:right;
}

#corps
{	
	width:80%;
	margin-top:0px;
	margin-left: auto;
	margin-right: auto;	
}
#enTeteCorps
{
	background-color :rgba(45,53,77,1);
	width:100%;	
	margin:0px;
	padding: 10px;
	padding-left:40px;
}

body
{
	background-color:#20294E;
	color : white;
	font-family: 'century gothic';
	margin:0px;
	top:0px;	
}

video
{
	display:none;
}

a
{
	color: white;
	background-color: rgba(64,64,64,1);
	text-decoration: none;
	padding:4px;
}
a:hover
{
	color: rgba(64,64,64,1);
	background-color :white;
}

button
{
	color : white;
	background-color :rgba(45,53,77,1);
	border: 1px solid black;
	border-radius:4px;
	font-size:20px;
}
button:hover
{
	color : rgba(45,53,77,1);
	background-color :white;
}
button:active
{
	color : darkred;
	background-color :white;
}
