/* 
    Created on : 4 avr. 2016, 15:57:08
    Author     : Alexandre
*/
#corps
{
    text-align: center;  	
}
#listeFichier
{
	margin-top:60px;
	background-color:#D8D8D8;
}

#notif
{	
	height:40px;
	background-color:#B9B9B9;
}

@media screen and (max-width: 590px)
{
   body
     {
	 background-color:#D7D7D7;
   } 
   #listeFichier
     {
	margin-top:60px;
   }
	
}
